
@{
    ViewData["Title"] = "Your operations";
}
<br />
<form asp-action="Add" asp-action="Add">
    <div class="text-center">
        <button class="btn btn-primary" type="submit"> Send Data To DB</button>
    </div>
</form>
<br />
<form asp-action="GetData" method="get">
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Get data from BD</button>
    </div>
</form>


